apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: kush233/draw-frontend:d4bf8c077d2f2a5e10b5e7c0d1352b7f2438329e
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_BACKEND_URL
              value: "http://backend.doodlemesh.svc.cluster.local"
            - name: NEXT_PUBLIC_WS_URL
              value: "ws://wsbackend.doodlemesh.svc.cluster.local"
